@import "~bootstrap/scss/bootstrap";
@import "../../../app/assets/stylesheets/actiontext.scss";

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  height: 350px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
